body {
    font-family: Verdana;
    text-align: center;
    background-image: url("https://user-images.githubusercontent.com/110700696/206480332-6e8dcffc-4db1-49dc-a390-f8bf10e31796.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}